<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="thhp://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div layout:fragment="content">
  <link href="/css/listbox.css" rel="stylesheet" />
  <script type="text/javascript" th:inline="javascript">
    let month = [[${month}]];
  </script>
  <style>
    #resourceTbl td {
      text-align: center;
    }

    label.cb_container.custom_cb_container {
      padding-left: 0;
      width: 18px;
      height: 18px;
      margin: auto;
    }
  </style>
  <div th:replace="fragments/leftmenu/leftmenu_project :: leftmenu"></div>
  <!--//leftmenu-->
  <div class="content_box">
    <p class="con_tit">투입공수 등록</p>
    <div class="location_box">
      <span class="material-symbols-outlined"> home </span>
      <span class="material-symbols-outlined"> navigate_next </span>
      프로젝트
      <span class="material-symbols-outlined"> navigate_next </span>
      투입공수
    </div>
    <div class="board_write">
      <table class="tb_st2" summary="">
        <caption></caption>
        <colgroup>
          <col width="15%" />
          <col width="*%" />
        </colgroup>
        <tbody>
        <tr>
          <th>프로젝트</th>
          <td>
            <div class="select_mate" data-mate-select="active" style="width: calc(100% - 150px);" data-indx-select="0" data-selec-open="false">
              <select id="project" onchange="projHandler()" onclick="return false;">
                <option value="0" selected>프로젝트 선택</option>
                <option th:each="project : ${projectList}"
                        th:value="${project.projectNo}" th:text="${project.projectName}"
                        th:data-manhour="${project.projectManhour}"
                        th:data-resources="${project.projectResources}">반려</option>
              </select>
              <p class="selecionado_opcion" onclick="open_select(this)"></p>
              <span onclick="open_select(this)" class="icon_select_mate">
                                <span class="material-symbols-outlined">
                                  keyboard_arrow_down
                                </span>
                              </span>
              <div class="cont_list_select_mate">
                <ul class="cont_select_int"></ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>투입공수(계획)</th>
          <td id="plannedManhourTd"></td>
        </tr>
        <tr>
          <th>투입인력(계획)</th>
          <td id="plannedResourceTd"></td>
        </tr>
        </tbody>
      </table>
      <table id="resourceTbl" class="tb_st2" summary="">
        <caption></caption>
        <colgroup>
          <col width="7%" />
          <col width="7%" />
          <col width="*" />
          <col width="14%" />
          <col width="14%" />
          <col width="10%" />
          <col width="10%" />
          <col width="10%" />
        </colgroup>
        <tbody>
        <tr>
          <th>선택</th>
          <th>No.</th>
          <th>이름</th>
          <th>투입시작</th>
          <th>투입종료</th>
          <th>투입기간(day)</th>
          <th>참여율(%)</th>
          <th>투입공수(M/M)</th>
        </tr>
        <tr>
          <td colspan="8">공수인력을 등록할 프로젝트를 선택해주세요.</td>
        </tr>
        <tr>
          <th colspan="7">합계</th>
          <td id="sum"></td>
        </tr>
        </tbody>
      </table>
      <div class="btn_al_lr" id="resourceBtn" style="display: none">
        <div class="al_l">
          <button type="button" class="btn_sm gray" onclick="addRow()"><span class="material-symbols-outlined">add</span> 행 추가</button>
          <button type="button" class="btn_sm gray" onclick="deleteBtn()"><span class="material-symbols-outlined">remove</span> 행 삭제</button>
        </div>
        <button type="button" class="btn_sm navy al_r" onclick="submitData(1)"><span class="material-symbols-outlined">check_small</span> 등록</button>

      </div>
    </div>
  </div>
  <!--//content_box-->
  <!-- 모달 영역 시작 -->
  <div id="myModal" class="modal">
    <!-- Modal_1 -->
    <div id="modal_1" class="de-modal">
      <!--  <div id="modal_1" class="de-modal" style="display: block">-->
      <div class="modal-content" style="width: 800px">
              <span class="close" onclick="modal_on_off(1, 2)">
                <span class="material-symbols-outlined"> close </span>
              </span>
        <p class="modal-title" id="modal-title">직원 지정</p>
        <br />
        <div style="margin: auto; width: 95%;">
          <div style="display: flex">
            <ul class="listbox" id="listbox-1">
              <li class="list" th:each="dept : ${departmentList}"
                  th:value="${dept.departmentNo}" th:text="${dept.departmentName}"
                  onclick="handleListClick(this, 1)"></li>
            </ul>
            <ul class="listbox" id="listbox-2">
              <th:block th:each="department : ${departmentList}">
                <div th:id="${'group2-' + department.departmentNo}" style="display:none;">
                  <li class="list" th:if="${department.children.isEmpty()}">하위 팀이 없습니다.</li>
                  <th:block th:each="dept: ${department.children}">
                    <li class="list" th:value="${dept.departmentNo}" th:text="${dept.departmentName}"
                        onclick="handleListClick(this, 2)"></li>
                  </th:block>
                </div>
              </th:block>
            </ul>

            <!-- 모든 departmentList와 departmentList 하위의 members 출력 -->
            <ul class="listbox" id="listbox-3">
              <th:block th:each="dept : ${departmentList}">
                <div th:id="${'group3-' + dept.departmentNo}" style="display:none;">
                  <li class="list" th:each="member : ${dept.members}"
                      th:value="${member.memberName}" th:text="${member.memberName}"
                      onclick="changeItemClass(this, 3)"></li>
                </div>
                <th:block th:each="childDept : ${dept.children}">
                  <div th:id="${'group3-' + childDept.departmentNo}" style="display:none;">
                    <li class="list" th:each="member : ${childDept.members}"
                        th:value="${member.memberName}" th:text="${member.memberName}"
                        onclick="changeItemClass(this, 3)"></li>
                  </div>
                </th:block>
              </th:block>
            </ul>
          </div>
          <button type="button" class="btn_md navy" onclick="nameHandler()" style="display: flex; margin: 9px 9px 20px auto;">등록</button>
        </div>
      </div>
    </div>
    <!-- //Modal_1 -->
  </div>
  <script src="/js/project/addProjResource.js"></script>
</div>
</html>
