
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="명령어">
  <!-- 명령어 noindex : 해당 페이지는 검색 결과에서 제외 (반대는 index), nofollow : 검색로봇이 해당 페이지 내의 링크를 수집하지 않도록 설정(반대는 follow) -->
  <link rel="canonical" href="대표URL">
  <!-- 동일 콘텐츠를 여러 개의 URL로 표현이 가능할 경우 가장 선호되는 대표 URL을 지정, URL 표현시에는 상대 경로가 아닌 절대 경로를 사용 -->
  <meta name="description" content="페이지 설명">
  <!-- 페이지의 description 태그는 페이지의 콘텐츠에 대한 간략한 설명으로 1-2개의 문장으로 구성된 짧은 단락을 사용할 수 있습니다. 단, 2회 이상 반복적인 키워드, 스팸성 키워드, 사이트와 연관이 없는 키워드가 있는 경우 검색 노출에 불이익을 받을 수 있습니다. -->
  <meta name="keywords" content="keyword1, keyword2">
  <!-- 소셜 미디어 공유 -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="(주)뎁스">
  <meta property="og:description" content="(주)뎁스">
  <meta property="og:image" content="http://www.mysite.com/myimage.jpg">
  <meta property="og:url" content="http://www.mysite.com">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>(주)뎁스</title>
  <link href="/css/common.css" rel="stylesheet">
  <script src="/js/common.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
    let username = [[${#authentication.principal.nickname}]];
    let userRole = [[${#authentication.principal.authorities[0].authority}]];
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#header").load("/inc/header.html", function() {
        // AJAX 로드가 완료된 후에 실행되는 콜백 함수
        $("#header_user_name").text(username);
      });
      $("#topmenu").load("/inc/topmenu_admin.html");
      $("#leftmenu").load("/inc/leftmenu/leftmenu_admin_system.html");
    });
  </script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
</head>
<body>
<div id="header"></div>
<div class="s_container">
  <div id="topmenu"></div>
  <div class="white_box">
    <div id="leftmenu"></div>
    <!--//leftmenu-->
    <div class="content_box">
      <p class="con_tit">접근권한 관리</p>
      <div class="location_box">
        <span class="material-symbols-outlined"> home </span>
        <span class="material-symbols-outlined"> navigate_next </span>
        시스템관리

        <span class="material-symbols-outlined"> navigate_next </span>
        <span class="location">접근권한 관리</span>
      </div>

      <div class="search_right">

      </div>



      <!--//search_box-->
      <div class="table_top">


      </div>



      <!--//table_top-->
      <table class="tb_st1" summary="">
        <caption></caption>
        <colgroup>
          <col width="5%" />
          <col width="%" />
          <col width="5%" />
          <col width="15%" />
          <col width="5%" />
          <col width="15%" />
        </colgroup>
        <thead>
        <tr>
          <th>순번</th>
          <th>ID</th>
          <th>이름</th>
          <th>직책</th>
          <th>권한</th>
          <th>수정</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="selAutho, iterStat  : ${selAuthoList}">
          <td th:text="${iterStat.index + 1}"></td>
          <td th:text="${selAutho.memberId}"></td>
          <td th:text="${selAutho.memberNameKr}"></td>
          <td th:text="${selAutho.staffName}"></td>
          <td th:text="${selAutho.memberRole}"></td>
          <td> <button class="btn_md navy" type="button" th:onclick="'modal_onoff(4, 1); openUpdateDepartmentModal(\'' + ${selAutho.memberNo} + '\')'">
            <span class="material-symbols-outlined">settings</span> 권한 수정</button>
        </tr>
        </tbody>

      </table>


    </div>
    <!--//content_box-->
  </div>
  <!--//white_box-->
</div>
<!--//s_container-->


<!--접근권한 수정 모달 Modal -->

<div id="modal_4" class="de-modal">
  <div class="modal-content modal_w500">
          <span class="close" onclick="modal_onoff(4, 2)">
            <span class="material-symbols-outlined"> close </span>
          </span>
    <p class="modal-title">권한 수정</p>
    <form id="adminMemberForm" action="/admin/system/udtMember" method="post" enctype="multipart/form-data">
      <div class="modal-body">


          <ul class="modal-list">

            <li>
              <label for="autho_memberNameKr">한글이름</label>
              <input type="text" class="w80 input_txt" name="autho_memberNameKr" id="autho_memberNameKr" placeholder="" readonly />
            </li>


            <li>
              <label for="memberRole">권한</label>
              <div class="select_mate w80" data-mate-select="active" style="width:80px; ">

                <select name="memberRole" onchange="" onclick="udtSelectRole()" id="memberRole">
                  <option value="USER">일반유저</option>
                  <option value="ADMIN">관리자</option>
                </select>
                <p
                        class="selecionado_opcion"
                        onclick="open_select(this)"
                ></p>
                <span onclick="open_select(this)" class="icon_select_mate">
                      <span class="material-symbols-outlined">
                        keyboard_arrow_down
                      </span>
                    </span>
                <div class="cont_list_select_mate">
                  <ul class="cont_select_int"></ul>
                </div>
              </div>

          </ul>
          <div class="btn_al_r">
            <button type="button" class="btn_cancel" onclick="modal_onoff(4, 2)">취소</button>
            <button type="button" class="btn_join" id="admin_member_modify"  onclick="adminAuthoModifiy(this)">수정</button>
          </div>
      </div>
    </form>
  </div>
</div>

<!-- //Modal -->


</body>

<script>





  let letMemberNo = 0;


  // 겟 11111
  function openUpdateDepartmentModal(memberNo) {
    letMemberNo = memberNo;
    let url = "/admin/system/udtMember/" + memberNo;
    console.log(url);

// 부서 정보 가져오기 및 모달 폼에 채우기
    $.ajax({
      type: "GET",
      url: url,

      success: function (response) {
        console.log(response)
        let memberRole = response.memberRole;
        let memberNameKr = response.memberNameKr;

        // 멤버 이름을 input 필드에 채웁니다.
        document.getElementById('autho_memberNameKr').value = memberNameKr;

        // 멤버 역할에 따라 select 박스의 기본 선택값 설정
        $('#memberRole').val(memberRole);

      // 선택된 옵션을 화면에 표시
        $('.selecionado_opcion').text($('#memberRole option:selected').text());


        console.log(document.getElementById('memberRole').value = memberRole);

      },
      error: function (error) {
        console.error("멤버 정보 가져오기 실패:", error);
      }
    });
  }




  //111111111
  // 수정 버튼 클릭
  function adminAuthoModifiy(obj) {
    console.log(obj)

    let memberRole = udtSelectRole();

    console.log(memberRole);


    confirm_pop("접근권한을 수정 하시겠습니까?", function () {
      let url = "/admin/system/udtMember/" + letMemberNo;
      let data = {

        memberRole: memberRole,
      };

      sendRollbookAjax(url, data);
    });
  }


  // 22222222222222   ajax로 정보 요청
  function sendRollbookAjax(url, data) {
    $.ajax({
      type: "post",
      url: url,
      data: JSON.stringify(data),
      contentType: "application/json",

      beforeSend: function (xhr) {
        /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        xhr.setRequestHeader(header, token);
      },

      success: function (response) {
        console.log('처리 성공!' + response);
        alert_pop2(1, "접근권한이 수정 되었습니다.", function () {
          location.reload();
        });
      }, error: function (xhr, status, error) {
        console.error("Error:", error);
        alert_pop(1, "수정에 실패하였습니다.");
      }
    });
  }


  function udtSelectRole(){
    let selectElement = document.getElementById("memberRole").value;
    return selectElement;
  }


</script>



</html>
